.home-container{
    height: 250px;
    color: white;
  padding-left: 150px;
}

.home-content h2{
    padding: 5px;
    padding-top: 50px;
    /* margin-left: 150px; */
}

.home-content h1{
    color: rgb(53, 239, 106);
    letter-spacing: 2px;
    /* margin-left: 150px; */
    padding: 5px;
}
.home-buttons{
    /* margin-left:  150px; */
    margin-top: 20px;
}

.home-buttons .btn-hire {
    background-color: rgb(18, 119, 219);
    color: white;
    width: 120px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.home-buttons .btn-hire:hover {
 background-color: rgb(18, 119, 219);
    color: white;
    width: 120px;
    font-size: 21px;
    box-shadow: 12px 8px 12px rgba(0, 128, 115, 0.75);
    transform: translateY(-2px);
}

.home-buttons .btn-cv {
    background-color:rgb(5, 163, 191);
    color: white;
    width: 150px;
    font-size: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-buttons .btn-cv:hover {
  background-color:rgb(5, 163, 191);
    color: #FFFFFF;
    width: 150px;
    font-size: 20px;
       box-shadow: 10px 8px 12px rgba(0, 128, 115, 0.75);
  
    transform: translateY(-2px);
}


.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #1e1e1e;
  margin-top: 20px;
  text-align: center;
  position: fixed;
  right: 0;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}

/* ============= */
@media (max-width:600px)
{
    .home-container{
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    .home-container h2{
        font-size: 24px;
    }
    .home-container h1{
        font-size: 24px;
    }
}