
.mobile-nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.mobile-nav-header {
  height: 60px;
  width: 100%;
  background-color: #045f85;
  padding: 10px;
}
.mobile-nav-image {
  margin-top:5px;
}

.mobile-nav-header .mobile-nav-icon {
  color: white;
  cursor: pointer;
}

.mobile-nav-title {
  margin-left: 20px;
  color: #f29f67;
  font-weight: bold;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 20px;
}

.mobile-nav-menu .nav-items {
  height: auto;
  margin-top: -2px;
  width: 220px;
  background-color: #05996a;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  font-size: large;
}

@media (min-width: 600px) {
  .mobile-nav {
    display: none;
  }
}
