.techstack{
    padding-left: 140px;
    margin-top: 60px;
}
.techstack hr{
    color: #026560;
    margin: 10px auto;
}

.techstack h2{
    color: rgb(8, 180, 8);
    font-weight: bold;
}

.techstack .card{
        cursor: pointer;
}

.techstack .tech-icon{
   font-size: 2rem;
    margin-right: 10px;
}

.techstack .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #138781;
  color: white;

  transition: 0.51s;
}

#dark .techstack h2{
  color: yellow;
}

#dark .stack p{
  color: rgb(193, 0, 0);
}

@media (max-width:600px)
{
  .techstack{
    margin: 0;
    padding: 4px;
    margin-top: 30px;

  }
  .techstack hr{
    width: 280px;
  }
 .card{
    padding-right: 6px;
  }
}